<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/stockform.css">
    <title>Document</title>
</head>
<body>
    <%- include('partial/navigator-admin') %>
        <div class="container">
           <h1>Add Stocks Warehouse</h1>
        <form action="/product/add-stocks" method="POST">
            
    
            <div class="FormAdd">
               
                <label for="item">Item</label>:</label>
                <input type="text" name="item" id="products_name" class="input">
            </div>
    
            <div class="FormAdd">
                <label for="quantity">Quantity :</label>
                <input type="number" name="quantity" id="quantity" class="input">
            </div>
            <div class="FormAdd">
                <label for="price"> Price :</label>
                <input type="number" name="price" id="number" class="input">
            </div>
            <div class="FormAdd">
            
               <input type="submit">
    
              
            </div class="FormAdd">
        </form>
    </div>
</body>
</html>