<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link
        href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital@1&family=Dancing+Script:wght@600&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="css/liststock.css">
    <title>Document</title>
</head>

<body>
    <div class="head">
        <h1>TOTAL PAYMENT</h1>
    </div>
    <!-- akan diisin id dari USer yg memberli -->
    <form action="/transaksi/:3" method="post">
        <div>
            <table class="table table-bordered">
                <thead>
                    <tr class="table-info">
                        <th>product_name</th>
                        <th>Total</th>
                    </tr>
                </thead>

                <tbody>
                    <tr class="table-info">
                        <td><%= data.item %></td>
                        <td><%=total%></td>
                    </tr>
                </tbody>

            </table>

            <button> Pay </button>
        </div>

    </form>

</body>

</html>