<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>Thank you for buying from our shop!</h2>

    <img src="https://i.ytimg.com/vi/LKS8h5Pw8Ls/hqdefault.jpg" alt="Haji Sodik">
    <div>
        <button><a href="/user/customer">Return</a></button>

    </div>

</body>

</html>